<h2>Open auctions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>Closing Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for item <- @items do %>
    <tr>
      <td><%= item.description %></td>
      <td><%= item.price%></td>
      <td><%= item.closing_date %></td>

      <td class="text-right">
        <span><%= link "select", to: item_path(@conn, :show, item), class: "btn btn-default btn-xs"%></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>