<h2>Auction details</h2>

<ul>
  <li>
    <strong>Description:</strong>
    <%= @item.description %>
  </li>

  <li>
    <strong>Closing date:</strong>
    <%= @item.closing_date %>
  </li>

  <li>
    <strong>Current price:</strong>
    <%= @item.price %>
  </li>
</ul>

<%= form_for @conn, item_path(@conn, :bid), [as: :offer], fn offer -> %>
  <div class="form-group col-sm-3">
    <%= hidden_input offer, :id, value: @item.id, class: "form-control" %>
  </div>
  <div class="form-group col-sm-3">
    <%= text_input offer, :price, class: "form-control", id: "price" %>
  </div>
  <div class="form-group col-sm-3">
    <%= submit "Place bid", class: "btn btn-primary" %>
  </div>
<% end %>

<span><%= link "Go back", to: item_path(@conn, :index) %></span>